form {
  display: flex;
  column-gap: 8px;

  span {
    margin-top: 16px;
    font-size: 24px;
    font-weight: bold;
  }

  mat-form-field {
    max-width: 150px;
  }

  .submit-button {
    margin-left: 8px;
    margin-top: 10px;
  }

  /** Remove Arrow on number input **/
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
